body{
    background-image: url("/img/form background.jpeg");
    background-size: cover;
}
.container{
   margin-top: 120px;
    background-color: #eaecee;
    background-size: cover;
    padding-bottom: 50px;
    border-radius: 10px;
}
