body{
    background-color: #eaecee;
    color: black;
    display: grid;
    grid-template: 50px 1fr/ 300px 1fr;
    background-image: url("/img/indexbackground.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: auto;
}
#navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
#main-title{
    position: absolute;
    left: 600px;
}
#side-bar{
    position: fixed;
    top: 80px;
    left: 0px;
    grid-row: 2;
    grid-column: 1;
    background-color: #eaecee;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    margin-left: 10px;
}
#container{
    grid-row: 1;
    grid-column: 1;
    margin-top:100px ;
    display: flex;
    flex-wrap: wrap;
}
#scroll{
    grid-row: 2;
    grid-column: 2;
    position: absolute;
    top: -30px;
    display: grid;
    grid-template: 1fr/1fr;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    height:950px;
    width: 1100px;
    margin-left: 680px;
}
#card{

    display: flex;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 0 #000000;
    width: 900px;
    height: 320px;
    color: black;
    background-color: whitesmoke;
    perspective: 1000px;
}
#picture{
    margin-right: 20px;
}

#tech{
    background-color: #eaecee;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    position: absolute;
    right: 30px;
    top: 80px;
    text-align: center;
}

#ad-holder{
    position: absolute;
    top: 610px;
    left: 15px;

}
#ad1{
    background-color: #F2F2F2;
    position: absolute;
    top: 610px;
    left: 220px;
    height: 75px;
    width: 190px;
    font-size: 25px;
    font-weight: bold;

}
a{
    color: black;
}
#ad2{
    background-color: #F2F2F2;
    position: absolute;
    top: 845px;
    left: 220px;
    height: 150px;
    width: 190px;
    font-size: 25px;
    font-weight: bold;
}